:host {
  display: flex;
  justify-content: flex-end;

  ::ng-deep button {
    margin: 0 4px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
