<app-content>
  <div class="notfound">
    <div class="notfound__header">
      404
    </div>
    <div class="notfound__description">
      we can't find what you were looking for. you get lost in the world
    </div>
    <button class="notfound__action"
            mat-stroked-button
            routerLink="/home">head back home
    </button>
  </div>
</app-content>
