.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 1.5em;
}

.notfound__header {
  font-size: 8em;
  font-weight: 900;
}

.notfound__description {
}

.notfound__action {
  font-size: 1.5em;
  padding: 14px;
  margin: 1em;

}
