.comment {
  margin: 0.25em 0;
  padding: 1em;
  border: rgba(0, 0, 0, .12) solid 1px;
  border-radius: 5px;

  .comment-header {
    display: flex;
    align-items: baseline;
    padding-bottom: 0.5em;

    @media screen and (max-width: 512px) {
      flex-direction: column;
    }
  }

  .comment-email {
    font-weight: bold;
  }

  .comment-date {
    padding-left: 0.16em;
    font-size: 0.8em;
    color: rgba(0, 0, 0, .56);

    @media screen and (max-width: 512px) {
      padding-left: 0;
    }
  }

}

