<div class="comment">
  <div class="comment-header">
    <div class="comment-email">
      {{comment.email}}
    </div>
    <div class="comment-date">
      {{comment.createdAt.toDate() | date}}
    </div>
  </div>
  <div class="comment-text">
    {{comment.comment}}
  </div>
</div>
