<header class="header">
  <button class="header__button"
          mat-button
          routerLink="home">
    Traveldoodle
  </button>
  <div *ngIf="!(currentUser$ | async)">
    <button class="header__button"
            mat-button
            routerLinkActive="active"
            routerLink="/signup">
      sign up
    </button>
    <button class="header__button"
            mat-button
            routerLinkActive="active"
            routerLink="/signin">
      sign in
    </button>
  </div>
  <div *ngIf="currentUser$ | async">
    <button class="header__button"
            mat-button
            (click)="signout()">
      sign out
    </button>
  </div>
</header>
