.header {
  display: flex;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 60px;

  &__button {
    height: 100%;

    &.active {
      font-weight: bold;
    }
  }
}
