.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: rgba(0, 0, 0, .12) solid 1px;
  border-radius: 5px;
  padding: 16px;
  cursor: pointer;

  &.selected {
    background: rgba(#3f51b5, 0.1);
  }

  fa-icon {
    margin-bottom: 8px;
  }
}
