<h1 mat-dialog-title>about traveldoodle</h1>
<div mat-dialog-content>
  <h3>what is <em>traveldoodle</em>?</h3>
  <p>
    planning a trip with friends can be complicated.
    <em>traveldoodle</em> helps you to find a consensus when and where you want to travel
    and what you want to do there
  </p>
  <h3>how it works</h3>
  <p>
    <em>traveldoodle</em> is quite simple.
    create a survey with all options of possible dates and locations for your trip,
    as well as what kind of trip you are planning.
  </p>
  <p>
    share a link to the survey with all your travelbuddies
    and they will tell their preferred dates and places of travel
  </p>
  <p>
    finally get a nice overview over all responses and decide about your next trip
  </p>
</div>
