<button mat-fab (click)="copyUrlToClipboard()">
  <fa-icon icon="share" size="lg"></fa-icon>
</button>
<button mat-fab (click)="shareOnWhatsapp()">
  <fa-icon [icon]="['fab','whatsapp']" size="lg"></fa-icon>
</button>
