<div class="full-width-column"
     *ngIf="survey$ | async as survey ">
  <h1>{{survey.title}}</h1>
  <p>{{survey.description}}</p>


  <div *ngIf="evaluatedDates && survey.dates.length">
    <h3>When</h3>
    <mat-list>
      <app-evaluated-option
        *ngFor="let evaluatedDate of evaluatedDates"
        icon="calendar"
        [evaluatedOption]="evaluatedDate">
        {{evaluatedDate.option.from.toDate() | date}} to {{evaluatedDate.option.to.toDate() | date}}
      </app-evaluated-option>
    </mat-list>
  </div>


  <div *ngIf="evaluatedLocations && survey.locations.length">
    <h3>Where</h3>
    <mat-list>
      <app-evaluated-option
        *ngFor="let evaluatedLocation of evaluatedLocations"
        icon="map-marker"
        [evaluatedOption]="evaluatedLocation">
        {{evaluatedLocation.option.location}}
      </app-evaluated-option>
    </mat-list>
  </div>


  <div *ngIf="evaluatedTypes && survey.types.length">
    <h3>What</h3>
    <mat-list>
      <app-evaluated-option
        *ngFor="let evaluatedType of evaluatedTypes"
        [icon]="evaluatedType.option.icon"
        [evaluatedOption]="evaluatedType">
        {{evaluatedType.option.type}}
      </app-evaluated-option>
    </mat-list>
  </div>

  <app-comments></app-comments>

</div>
