<div
  *ngIf="evaluatedOption"
  class="evaluated-option"
  (click)="toggleVoters(evaluatedOption)"
  [ngStyle]="evaluatedOption.style"
  role="evaluated-option">
  <div class="evaluated-option__content">
    <app-label-with-icon [icon]="icon">
      <ng-content></ng-content>
    </app-label-with-icon>
    <span class="eval-votes">({{evaluatedOption.voters.length}}/{{evaluatedOption.total}})</span>
  </div>
  <ul *ngIf="evaluatedOption.showVoter">
    <li *ngFor="let voter of evaluatedOption.voters">
      {{ voter }}
    </li>
  </ul>
</div>
