.evaluated-option {
  border: rgba(0, 0, 0, 0.12) solid 1px;
  border-radius: 5px;
  margin: .25em 0;
  display: flex;
  cursor: pointer;
  padding: 12px;
  flex-direction: column;

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
