<div *ngIf="survey$ | async as survey">
  <div class="survey-header">
    <h1>{{survey.title}}</h1>

    <app-link-sharer></app-link-sharer>
  </div>
  <p>{{survey.description}}</p>

  <form class="full-width-column"
        novalidate
        (submit)="onSubmit(f)"
        #f="ngForm">

    <mat-form-field appearance="outline" *ngIf="!(currentUser$ | async)">
      <mat-label>email</mat-label>
      <input matInput name="email" type="email" ngModel email required>
    </mat-form-field>

    <div *ngIf="survey.dates.length">
      <h3>Which are your prefered dates for this trip?</h3>
      <mat-selection-list class="survey-selection" name="selectedDates" ngModel>
        <mat-list-option class="survey-selection__option"
                         *ngFor="let dateOption of survey.dates"
                         [value]="dateOption.id"
        >
          <app-label-with-icon icon="calendar">
            {{dateOption.from.toDate() | date}} to {{dateOption.to.toDate() | date}}
          </app-label-with-icon>
        </mat-list-option>
      </mat-selection-list>
    </div>

    <div *ngIf="survey.locations.length">
      <h3>Where you wanna go?</h3>
      <mat-selection-list class="survey-selection" name="selectedLocations" ngModel>
        <mat-list-option class="survey-selection__option" *ngFor="let location of survey.locations"
                         [value]="location.id">
          <app-label-with-icon icon="map-marker">
            {{location.location}}
          </app-label-with-icon>
        </mat-list-option>
      </mat-selection-list>

    </div>
    <div *ngIf="survey.types.length">
      <h3>What kind of trip do you prefer?</h3>
      <mat-selection-list class="survey-selection" name="selectedTypes" ngModel>
        <mat-list-option class="survey-selection__option" *ngFor="let type of survey.types"
                         [value]="type.id">
          <app-label-with-icon [icon]="type.icon">
            {{type.type}}
          </app-label-with-icon>
        </mat-list-option>
      </mat-selection-list>
    </div>

    <app-form-action>
      <button mat-raised-button
              routerLink="/home"
              type="button">Cancel
      </button>
      <button mat-raised-button
              type="submit"
              color="primary"
              [disabled]="f.invalid">Join Trip
      </button>
    </app-form-action>
  </form>

  <app-comments></app-comments>

</div>
