.survey-header {
  display: flex;
  justify-content: space-between;
}

.survey-selection__option {
  border: rgba(0, 0, 0, 0.12) solid 1px;
  border-radius: 5px;

  margin: .25em 0;
}

.survey-selection:last-of-type {
  margin-bottom: 32px;
}
