<form class="full-width-column" novalidate (submit)="onSubmit(f)" #f="ngForm">
  <mat-form-field appearance="outline">
    <mat-label>give your trip a headline</mat-label>

    <input matInput name="title" minlength="1" type="text" ngModel required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>just describe your planned trip in more detail</mat-label>
    <textarea rows="4" matInput name="description" ngModel></textarea>
  </mat-form-field>

  <h4>what could be possible travel dates</h4>
  <app-date-range-selector (datesSelected)="onDatesSelected($event)">
  </app-date-range-selector>
  <mat-list>
    <app-deleteable-icon-option
      *ngFor="let date of survey.dates"
      [option]="date"
      (remove)="onRemoveDate($event)">
      <app-label-with-icon icon="calendar">
        {{date.from | date}} to {{date.to | date}}
      </app-label-with-icon>
    </app-deleteable-icon-option>
  </mat-list>

  <h4>where could your journey possibly take you?</h4>
  <app-places-autocomplete
    (placeSelected)="onLocationSelected($event)"
  ></app-places-autocomplete>
  <mat-list>
    <app-deleteable-icon-option
      *ngFor="let location of survey.locations"
      [option]="location"
      (remove)="onRemoveLocation($event)">
      <app-label-with-icon icon="map-marker">
        {{location.location}}
      </app-label-with-icon>
    </app-deleteable-icon-option>
  </mat-list>

  <h4>what kind of trip is it supposed to be</h4>
  <app-option-grid>
    <app-selectable-icon-option
      *ngFor="let travelType of travelTypes"
      [option]="travelType"
      (selected)="onTypeSelected($event)"
      (unselected)="onTypeUnselected($event)">
      {{travelType.type}}
    </app-selectable-icon-option>
  </app-option-grid>


  <app-form-action>
    <button mat-raised-button
            routerLink="/home"
            type="button">Cancel
    </button>
    <button mat-raised-button
            type="submit"
            color="primary"
            [disabled]="f.invalid">Create
    </button>
  </app-form-action>
</form>


