:host {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-gap: 16px;
  padding-bottom: 32px;

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media screen and (max-width: 853px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media screen and (max-width: 682px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: 512px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
