<app-content width="512">
  <h3>sign up</h3>
  <form novalidate (submit)="signup(f)" #f="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>email</mat-label>
      <input matInput name="email" required email type="email" #emailModel="ngModel" ngModel>
      <mat-error *ngIf="emailModel.invalid && (emailModel.dirty || emailModel.touched)">
        <div *ngIf="emailModel.errors.required">
          email is required.
        </div>
        <div *ngIf="emailModel.errors.email">
          is not an email.
        </div>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>password</mat-label>
      <input matInput name="password" required type="password" #passwordModel="ngModel" ngModel>
      <mat-error *ngIf="passwordModel.invalid && (passwordModel.dirty || passwordModel.touched)">
        <div *ngIf="passwordModel.errors.required">
          password is required.
        </div>
      </mat-error>
    </mat-form-field>
    <div class="form-actions">
      <button mat-button
              type="button"
              routerLink="/signin">
        sign in
      </button>
      <div>
        <button mat-raised-button
                type="button"
                routerLink="/home">
          cancel
        </button>
        <button mat-raised-button
                color="primary"
                type="submit"
                [disabled]="f.invalid">
          sign up
        </button>
      </div>
    </div>
  </form>
</app-content>


