<form class="comment-form" novalidate (submit)="onSubmit(f)" #f="ngForm">
  <mat-form-field appearance="outline" *ngIf="!(currentUser$ | async)">
    <mat-label>email</mat-label>
    <input matInput name="email" type="email" ngModel required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea rows="4" matInput name="comment" ngModel required></textarea>
  </mat-form-field>

  <app-form-action>
    <button mat-raised-button
            type="submit"
            color="primary"
            [disabled]="f.invalid">Create
    </button>
  </app-form-action>
</form>
