.content {
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  margin: 100px auto;
  padding: 12px;

  @media screen and (max-width: 512px) {
    margin: 20px auto;
  }
}

