<h2 mat-dialog-title>Already voted</h2>
<mat-dialog-content>
  <p>
    You have already voted. Do you want to vote a second time?
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true">Vote Again</button>
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
