<mat-list-item class="survey-option">
  <div class="survey-option__content">
    <div>
      <ng-content></ng-content>
    </div>
    <button mat-icon-button (click)="onRemove()">
      <fa-icon icon="trash"></fa-icon>
    </button>
  </div>
</mat-list-item>
