.survey-option {
  border: rgba(0, 0, 0, .12) solid 1px;
  border-radius: 5px;
  margin: 5px 0;

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
