@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.css";

body .ui-calendar {
  width: 100%;
}

body .ui-datepicker {
  background: transparent;
  border: rgba(0, 0, 0, .12) solid 1px;
  border-radius: 5px;
}

body .ui-datepicker.ui-datepicker-inline {
  display: flex;
}

body .ui-datepicker .ui-datepicker-header {
  background: transparent;
}

body .ui-datepicker .ui-datepicker-group {
  border: none;
  width: 100%;
}

body .ui-datepicker table td {
  padding: 0.25em;
}

body .ui-datepicker table td > a.ui-state-active {
  background: rgba(#3f51b5, 0.5);
}

body .ui-datepicker table td.ui-datepicker-today a {
  background: transparent;
  color: #3f51b5;
}

body .ui-datepicker:not(.ui-state-disabled) table td a:not(.ui-state-active):not(.ui-state-highlight):hover {
  background: rgba(#3f51b5, 0.1);
}
