form {
  width: 100%;
  display: flex;
  flex-direction: column;

  mat-form-field {
    padding-bottom: 8px;
  }

  .form-actions {
    display: flex;
    justify-content: space-between;

    button {
      margin: 0 4px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

