<div class="home">
    <button class="home__button--big"
      mat-stroked-button
      routerLink="/survey/create">going on a trip
    </button>
    <button class="home__button"
            mat-icon-button
            (click)="openInfoDialog()">
      <fa-icon icon="info-circle" size="lg"></fa-icon>
    </button>
  </div>
