.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  &__button--big {
    font-size: 2.5em;
    padding: 28px;
    background: rgba(255, 255, 255, 0.8);
    margin-bottom: 0.5em;
  }
}

