<div *ngIf="comments$ | async as comments">
  <mat-divider></mat-divider>

  <h3>Comments</h3>
  <app-comment-form></app-comment-form>

  <app-comment
    *ngFor="let comment of comments"
    [comment]="comment">
  </app-comment>
</div>



